<html>
	<head>
		<title>Club View</title>
	</head>
	<body>
		<div id="pageContainer">
		<div class="clubNameLine">
		{{ club.name }}
		</div>
		<div class="clubIntroLine">
		{{ club.intro }}
		</div>
		<div class="applyClub">
		{% if membership %}
		<div class="yourMembership">
		You are member of this club (<a href="/member/{{ club.slug }}">{{membership.name}}</a>&lt;<a href="mailto:{{ membership.email }}">{{ membership.email }}</a>&gt;). 
		balance: <span class="userbalance">{{ membership.balance }}</span>
		</div>
		{% else %}
			{% if userName %}
		<form name="applyClub" method="post" action="{{ action }}">
		<div class="applyInfo">
		<span class="inputPropmt namePrompt">Name In Club: </span><input type="text" name="name" text="{{ userName }}" />
		<span class="inputPropmt namePrompt">Email In Club: </span><input type="text" name="email" text="{{ userEmail }}" />
		</div>
		<input class="submit" type="submit" value="Join This Club" />
		</form>
			{% else %}
		Please <a alt="click to login" href="{{ loginUrl }}">log in</a> before join this club.
			{% endif %}
		{% endif %}
		</div>
		<div class="clubMembers">
			<div class="clubMemebersHeader">
			Members of Club {{ club.name }}
			</div>
			<div class="clubMemeberListArea">
			<ul>
			{% for member in members %}
			   <li>{{ member.user }}, {{ member.name }}</li>
			{% endfor %}
			</ul>
			</div>
		</div>
	</body>
</html>
