<html>
	<head>
		<title>Club Edit</title>
	</head>
	<body>
		<h1>Club edit by {{ username }} {%if lastmodi %} at {{ lastmodi }} {% endif %}</h1>
		<form id="club" method="post" action="{{ action }}">
			{% if oldslug %}
				<input type="hidden" value="{{ oldslug }}" />
			{% endif %}
			<div class="clubKeyInputLine"><span class="inputName">Slug: </span>
				<input type="text" name="slug" value="{{ model.slug }}" /> </div>
			<div class="clubNameInputLine"><span class="inputName">Name: </span>
				<input type="text" name="name" value="{{ model.name }}" /> </div>
			<div class="clubFundInputLine"><span class="inputName">Fund: </span>
				<input type="text" name="fund" value="{{ model.fund }}" /> </div>
			<div class="clubIntroInput"><span class="inputName">Introduction</span><br />
				<textarea name="intro" class="clubIntroInput" >{{ model.intro }}</textarea>
			</div>
			<div class="clubFundInputLine"><span class="inputName">I'm sure it's done: </span>
				<input type="submit" />
			</div>
		</form>
	</body>
</html>
